# NeonDB (PostgreSQL)
DATABASE_URL="postgresql://neondb_owner:npg_mP59cGuZNsYa@ep-bitter-shadow-aoclgfu2-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://neondb_owner:npg_mP59cGuZNsYa@ep-bitter-shadow-aoclgfu2.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require"

# Auth
JWT_ACCESS_SECRET="change-me-access-secretlukjvgchgjf"
JWT_REFRESH_SECRET="change-me-refresh-secret"

# Cloudinary
CLOUDINARY_CLOUD_NAME="mkcumxlj"
CLOUDINARY_API_KEY="838198894649926"
CLOUDINARY_API_SECRET="qaocJ5EPif8PQ71pmxMVTdjP7YE"
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="mkcumxlj"
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET="formix_unsigned"

# Groq (only used for AI-assisted form generation)
GROQ_API_KEY="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"
